body{
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("Asset/calgary2.jpg");
    
    background-size: cover;
    



}
.box{ 
    margin-top: 3px;
    border: 1px;
    width: auto;
    height: 60px;
    background-color:rgb(4, 39, 39) ;
    text-decoration: whitesmoke;
   
}
.box0{
    margin-top: 10px;
    padding-top: 60px;
    background-color:rgb(118, 9, 219);
    text-align: center;
   

}
.box1{
    margin-top: 2px;
    border-radius: 1px;
    border: 1px;
    width: -40px;
    height: 60px;
    background-color: rgb(225, 235, 235);
  padding-top: 80px;
  padding-bottom: 20px;
    margin-bottom: 5px;
  

}
.box3{
    margin-top: -40px;
    padding-top: 60px;
}
#addcomment{
    height: 100px;
}
/*#commentsection{
    border : 3px;
    margin-top: 10px;
    margin-bottom: 2px;
    height: fit-content;
    background-color: aliceblue;
    padding: 10px;
}*/
.ul{
    list-style: lower-alpha
;
}
ul li{
 width: 100%;
 background: aliceblue;
height: auto;
margin-top: 10px;
margin-bottom: 10px;

}
.editbutton{
    margin-right: 6px;
}